<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hbm2ddl.auto">create</property>  
		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:D:\Users\sneham\MyNewDB1;create=true;</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="dialect">org.hibernate.dialect.DerbyDialect</property>  
		<mapping resource="employee.hbm.xml" />
	</session-factory>
</hibernate-configuration>
